$orange: #ff5722;
$yellow: #F8E71C;
$blue: #1273DE;
$gray: #607D8B;
$green: #088A08;
$white: #FFFFFF;
$button: #fcb900;
$success: purple;

$teal: #1c5157;
$purple: #573b1c;
$tan: #571e1c;
$burgundy: #992600;
$lightteal: #009999;



// $green: #298A08;